directive1, directive2 {
  display: block;
  -webkit-user-select: none;
  overflow: hidden;

  doodad {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px dashed black;
    overflow:hidden;
  }

  .focus {border: 1px solid yellow}
  .unfocus {opacity: 0.2}
  .archive {background-color: yellow}
  .delete {background-color: red}
  .other {background-color: #C58917}
}
