directive1, directive2 {
  display: block;
  -webkit-user-select: none;
  overflow: hidden; }
  directive1 doodad, directive2 doodad {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px dashed black;
    overflow: hidden; }
  directive1 .focus, directive2 .focus {
    border: 1px solid yellow; }
  directive1 .unfocus, directive2 .unfocus {
    opacity: 0.2; }
  directive1 .archive, directive2 .archive {
    background-color: yellow; }
  directive1 .delete, directive2 .delete {
    background-color: red; }
  directive1 .other, directive2 .other {
    background-color: #C58917; }
