app {
  margin: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 360px;
  height: 320px;
  border: 1px solid black; }
  app content {
    -webkit-box-flex: 1 1 0;
    -moz-box-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    app content list {
      -webkit-box-flex: 1 1 0;
      -moz-box-flex: 1 1 0;
      -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
      flex: 1 1 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
      overflow-y: scroll; }
      app content list .archive {
        background-color: yellow; }
      app content list .delete {
        background-color: red; }
      app content list .other {
        background-color: #C58917; }
      app content list dilist {
        -webkit-box-flex: 1 1 0;
        -moz-box-flex: 1 1 0;
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        app content list dilist item {
          -webkit-box-flex: 0 0 44px;
          -moz-box-flex: 0 0 44px;
          -webkit-flex: 0 0 44px;
          -ms-flex: 0 0 44px;
          flex: 0 0 44px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex; }
          app content list dilist item item1, app content list dilist item item2 {
            -webkit-box-flex: 1 1 0;
            -moz-box-flex: 1 1 0;
            -webkit-flex: 1 1 0;
            -ms-flex: 1 1 0;
            flex: 1 1 0;
            border-bottom: 1px solid #d3d3d3;
            height: 44px;
            list-style: none;
            margin: 0px;
            padding-left: 22px;
            vertical-align: middle;
            line-height: 44px; }
    app content overlay {
      -webkit-box-flex: 0 0 40px;
      -moz-box-flex: 0 0 40px;
      -webkit-flex: 0 0 40px;
      -ms-flex: 0 0 40px;
      flex: 0 0 40px; }
  app menu, app dimenu {
    -webkit-box-flex: 0 0 44px;
    -moz-box-flex: 0 0 44px;
    -webkit-flex: 0 0 44px;
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    app menu mi, app dimenu mi {
      -webkit-box-flex: 1 1 0;
      -moz-box-flex: 1 1 0;
      -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
      flex: 1 1 0;
      border: 1px solid #dcdcdc;
      display: block;
      text-align: center;
      line-height: 44px;
      vertical-align: middle; }
