@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-directon($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin align-content($align) {
  -webkit-align-content: $align;
  -ms-flex-line-pack: $align;
  align-content: $align;
}
@mixin flex($settings) {
  -webkit-box-flex: $settings;
  -moz-box-flex: $settings;
  -webkit-flex: $settings;
  -ms-flex: $settings;
  flex: $settings;
}
@mixin flex-settings($settings) {
  -webkit-box-flex: $settings;
  -moz-box-flex: $settings;
  -webkit-flex: $settings;
  -ms-flex: $settings;
  flex: $settings;
}
@mixin flex-wrap($settings) {
  -webkit-flex-wrap: $settings;
  -ms-flex-wrap: $settings;
  flex-wrap: $settings;
}

app {
  margin: 20px;
  @include display-flex;
  @include flex-directon(column);
  width: 360px;
  height: 320px;
  border: 1px solid black;

  content {
    @include flex-settings(1 1 0);
    @include display-flex;

    list {
      @include flex-settings(1 1 0);
      @include display-flex;
      @include flex-directon(column);
      overflow: hidden;
      overflow-y: scroll;

      .archive {background-color: yellow}
      .delete {background-color: red}
      .other {background-color: #C58917}

      dilist {
        @include flex-settings(1 1 0);
        @include display-flex;
        @include flex-directon(column);

        item {
          $liheight: 44px;
          @include flex-settings(0 0 $liheight);
          @include display-flex;

          item1, item2 {

            @include flex-settings(1 1 0);
            border-bottom: 1px solid #d3d3d3;
            height: $liheight;
            list-style: none;
            margin: 0px;
            padding-left: $liheight/2;
            vertical-align: middle;
            line-height: $liheight;
          }
        }
      }
    }

    overlay {
      @include flex-settings(0 0 40px);
    }
  }

  menu, dimenu {
    $menuheight: 44px;

    @include flex-settings(0 0 $menuheight);
    margin: 0px;
    padding: 0px;
    @include display-flex;

    mi {
      @include flex-settings(1 1 0);
      border: 1px solid #dcdcdc;

      display: block;
      text-align: center;
      line-height: $menuheight;
      vertical-align: middle;
    }
  }
}
