ul {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
    overflow: scroll;
    box-sizing: content-box;
    background: ivory;
    -webkit-overflow-scrolling: touch;
}
li {
    height: 40px;
}
ul li:nth-child(2) {
    height: 0px;
}