ul {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
    overflow: scroll;
    background: ivory;
    -webkit-overflow-scrolling: touch;
}
li {
    box-sizing: border-box;
    z-index: 1;
    height: 40px;
}